<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.mvc.repository.auth.UserSecurityRepository">

    <!-- READ -->
    <select id="readUserId" parameterType="String" resultType="web.mvc.domain.UserSecurityDTO">
        SELECT * FROM USERS WHERE id = #{id}
    </select>


</mapper>