<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.mvc.repository.auth.PasswordRequiredRepository">

    <!-- isPasswordChangeRequired -->
    <select id="isPasswordChangeRequired" parameterType="java.util.Map" resultType="boolean">
    <![CDATA[
        SELECT COUNT(*) FROM USERS WHERE id = #{id,jdbcType=VARCHAR} AND last_password_change < #{threeMonthsAgo,jdbcType=TIMESTAMP}
        ]]>
    </select>

</mapper>
