<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- interface 와 연결되는 mapper XML 파일 -->

<!-- namespace 속성 설정 필수 -> mapper interface 의 풀 네임-->
<mapper namespace="com.hi.deptspring.deptspring.mapper.DeptMapper">

    <select id="selectByAll" resultType="com.hi.deptspring.deptspring.domain.DeptDTO">
        SELECT * FROM dept
    </select>

    <select id="selectByDeptno" resultType="com.hi.deptspring.deptspring.domain.DeptDTO">
        SELECT * FROM dept WHERE deptno = #{deptno}
    </select>

    <insert id="insertDept" parameterType="com.hi.deptspring.deptspring.domain.DeptRegistRequest">
        INSERT into dept (dname, loc) values (#{dname} , #{loc})
    </insert>

    <update id="updateDept" parameterType="com.hi.deptspring.deptspring.domain.DeptDTO">
        UPDATE dept SET dname = #{dname} , loc =#{loc} where deptno = #{deptno}
    </update>

    <delete id="deleteDept">
        DELETE FROM dept where deptno = #{deptno}
    </delete>

</mapper>