<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.mvc.repository.board.BoardRepository">


    <!-- CREATE BOARD -->
    <insert id="createBoard" parameterType="web.mvc.domain.TblBoard">
       INSERT INTO tbl_board (title, content, user_id) VALUES (#{title}, #{content}, #{user_id})
    </insert>


    <!-- READ BOARD -->
    <select id="selectList" parameterType="web.mvc.domain.page.PageOption"
            resultType="web.mvc.domain.TblBoard">
        select * from tbl_board

        <where>
            <if test="searchType != null and keyword != null">
                <!-- 제목 검색 -->
                <if test="searchType == 'title'">
                    and title like '%' || #{keyword} || '%'
                </if>

                <!-- 내용 검색 -->
                <if test="searchType == 'content'">
                    and content like '%' || #{keyword} || '%'
                </if>

                <!-- 작성자 검색 -->
                <if test="searchType == 'user_id'">
                    and user_id = #{keyword}
                </if>
            </if>
        </where>

        ORDER BY bno DESC
    </select>


    <!-- UPDATE BOARD -->
    <update id="updateBoard" parameterType="web.mvc.domain.TblBoardUpdateBoardDTO">
        UPDATE tbl_board
        SET title = #{title}, content = #{content}, updatedate = SYSDATE
        WHERE bno = #{bno} AND user_id = #{user_id}
    </update>


    <!-- DELETE BOARD -->
    <delete id="deleteBoard" parameterType="web.mvc.domain.TblBoard">
        DELETE FROM tbl_board WHERE bno = #{bno} AND user_id = #{user_id}
    </delete>


    <!-- LIST BOARD   -->
    <select id="listBoard" resultType="web.mvc.domain.TblBoard">
        SELECT *
        FROM tbl_board
        ORDER BY bno DESC
    </select>


    <!-- LIST UPDATE BOARD -->
   <select id="updateListBoard" resultType="web.mvc.domain.TblBoard">
       SELECT * FROM tbl_board WHERE bno = #{bno} AND user_id = #{user_id}
   </select>


    <!-- LIST READ BOARD CONTENT -->
    <select id="boardContent" resultType="web.mvc.domain.TblBoard">
        SELECT * FROM tbl_Board WHERE bno = #{bno}
    </select>


    <!-- GET TOTAL COUNT -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM tbl_board
    </select>

</mapper>