<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.mvc.repository.board.BoardRepository">

    <!-- CREATE BOARD -->
    <insert id="createBoard" parameterType="web.mvc.domain.TblBoard">
       INSERT INTO tbl_board (title, content, user_id) VALUES (#{title}, #{content}, #{user_id})
    </insert>


    <select id="selectList" parameterType="web.mvc.domain.PageOption"
            resultType="web.mvc.domain.TblBoard">
        <bind name="limit" value="startNumber + count" />
        WITH numbered_rows AS (
        SELECT t.*, ROW_NUMBER() OVER (ORDER BY bno DESC) AS row_num
        FROM tbl_board t
        <where>
            <if test="boardSearchOption.searchType != null and boardSearchOption.keyword != null">
                <!-- 제목 검색 -->
                <if test="boardSearchOption.searchType == 'title'">
                    AND title LIKE '%' || #{boardSearchOption.keyword} || '%'
                </if>

                <!-- 내용 검색 -->
                <if test="boardSearchOption.searchType == 'content'">
                    AND content LIKE '%' || #{boardSearchOption.keyword} || '%'
                </if>

                <!-- 작성자 검색 -->
                <if test="boardSearchOption.searchType == 'user_id'">
                    AND user_id = #{boardSearchOption.keyword}
                </if>
            </if>
        </where>
        )
        SELECT * FROM numbered_rows WHERE row_num BETWEEN #{startNumber} AND #{limit}
    </select>


    <!-- UPDATE BOARD -->
    <update id="updateBoard" parameterType="web.mvc.domain.TblBoardUpdateBoardDTO">
        UPDATE tbl_board
        SET title = #{title}, content = #{content}, updatedate = SYSDATE
        WHERE bno = #{bno} AND user_id = #{user_id}
    </update>


    <!-- DELETE BOARD -->
    <delete id="deleteBoard" parameterType="web.mvc.domain.TblBoard">
        DELETE FROM tbl_board WHERE bno = #{bno} AND user_id = #{user_id}
    </delete>


    <!-- SELECT BY BNO  -->
    <select id="selectByBno" resultType="web.mvc.domain.TblBoard">
        SELECT * FROM tbl_board
        WHERE bno = #{bno}
    </select>


    <!-- SELECT ALL  -->
    <select id="selectAll" resultType="web.mvc.domain.TblBoard">
        SELECT * FROM tbl_board
        ORDER BY bno DESC
    </select>


    <!-- SELECT TOTAL COUNT -->
    <select id="selectTotalCount" resultType="int" parameterType="web.mvc.domain.page.BoardSearchOption">
        SELECT COUNT(*)
        FROM tbl_board
    </select>


</mapper>