<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.mvc.repository.email.EmailRepository">

    <!-- isDuplicatedId -->
    <select id="isDuplicatedId" parameterType="java.lang.String" resultType="Integer">
        SELECT COUNT(*) FROM USERS WHERE id = #{id}
    </select>


    <!-- isDuplicatedEmail -->
    <select id="isDuplicatedEmail" parameterType="java.lang.String" resultType="Integer">
        SELECT COUNT(*) FROM USERS WHERE email = #{email}
    </select>

</mapper>
