<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.mvc.repository.email.EmailRepository">

    <!-- findByEmail -->
    <select id="findByEmail" parameterType="web.mvc.domain.User" resultType="web.mvc.domain.User">
        SELECT * FROM USERS WHERE email = #{email} AND status = 'ACTIVE'
    </select>


    <!-- findByEmailTempPassword -->
    <update id="findByEmailTempPassword" parameterType="web.mvc.domain.User">
        UPDATE USERS SET password = #{password} WHERE email = #{email} AND status = 'ACTIVE'
    </update>

</mapper>
