<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.mvc.repository.login.UserLoginRepository">

    <!-- Login -->
    <select id="login" parameterType="web.mvc.domain.User" resultType="web.mvc.domain.User">
        SELECT * FROM USERS WHERE id = #{id} AND password = #{password}
    </select>

</mapper>
